@import url('../graphy/style.css');
/**
 * Theme Name: Graphy (nordblog.net Edition)
 * Theme URI: http://bitbucket.org/MarkyMarkNo1/wp-theme-graphy-child
 * Author: MarkyMarkNo1
 * Author URI: http://bitbucket.org/MarkyMarkNo1
 * Description: Graphy is a WordPress theme for blogs that are designed to have beautiful typography. It is developed using mobile-first responsive design, ensuring that your blog will be no less beautiful when viewed on a smartphone or tablet. Graphy has five widgets available (one sidebar, four footers), and using the sidebar widget also enables you to make a two-column design. In addition, footer widget display is automatically adjusted depending on how many are used. Graphy also supports Customizer, Custom Menu, and Custom Header, enabling flexible configuration.
 * Version: 1.1.5
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags: white, light, white, one-column, two-columns, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, theme-options, threaded-comments, translation-ready
 * Text Domain: graphy
 *
 * Template: graphy
 *
 * Graphy WordPress Theme, Copyright 2014-2015 Takao Utsumi
 * Graphy is distributed under the terms of the GNU GPL
 * Graphy is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine work of
 * Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
 * along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 * and Blueprint http://www.blueprintcss.org/
 *
 */
/*
 * =====================================================================
 *
 * Plugin Jetpack: Infinite Scroll
 *
 * http://jetpack.me/support/infinite-scroll/
 *
 * =====================================================================
 */
#infinite-footer .blog-info {
  font-family: Bitter, Georgia, serif;
  letter-spacing: -0.01em;
}
#infinite-footer .blog-info a:hover {
  text-decoration: none !important;
  color: #555 !important;
}
/*
 * =====================================================================
 *
 * Plugin Smart Archives Reloaded
 *
 * https://wordpress.org/plugins/smart-archives-reloaded/
 *
 * =====================================================================
 */
#smart-archives-list h2 {
  font-size: 26px;
  line-height: 34px;
}
@media screen and (min-width: 780px) {
  #smart-archives-list h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
#smart-archives-list h2 a {
  text-decoration: none;
}
#smart-archives-list h2 a:not(:hover) {
  color: #777;
}
#smart-archives-list .archive-list {
  list-style: none;
  margin-left: inherit;
}
#smart-archives-list .archive-list li {
  font-family: Bitter, Georgia, serif;
  letter-spacing: -0.01em;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 8px;
}
@media screen and (min-width: 780px) {
  #smart-archives-list .archive-list li {
    margin-bottom: 12px;
  }
}
#smart-archives-list .archive-list li a {
  text-decoration: none;
  color: inherit;
}
#smart-archives-list .archive-list li a:hover {
  color: #555;
}
